.firstScreen {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  transition: opacity 0.5s ease;
  opacity: 1;
  pointer-events: auto;
}

.firstScreen.hide {
  opacity: 0;
  pointer-events: none;
}

.spacer {
  height: 100vh;
}

.container {
  position: relative;
  width: 100%;
  overflow-x: hidden;
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-image: url('/public/background.png');
  background-position: center;
  background-size: cover;
  z-index: 1;
}

.overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0);
  pointer-events: none;
  z-index: 5;
  transition: background-color 0.5s ease;
}

.overlay.active {
  background-color: rgba(0, 0, 0, 0.5);
}

.header {
  position: fixed;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 15;
  background-color: transparent;
  box-shadow: none;
  padding: 0;
  transition: opacity 0.5s ease;
  opacity: 1;
  pointer-events: auto;
}

.header.hide {
  opacity: 0;
  pointer-events: none;
}

.logo {
  width: 150px;
  height: auto;
  background-color: transparent;
}

/* 두 번째 화면 배경 + 어두운 오버레이 */
.about {
  position: relative;
  z-index: 10;
  padding: 150px 20px 50px 20px;
  width: 100vw;      /* 화면 가로 꽉 채우기 */
  margin: 0;         /* 여백 제거 */
  color: white;
  text-align: center;
  opacity: 0;
  min-height: 100vh;
  background-image: url('/public/background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  pointer-events: none;
  transition: opacity 0.5s ease;
}

.about::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.about.active {
  opacity: 1;
  pointer-events: auto;
}

.footer-text {
  position: relative;
  z-index: 10;
  opacity: 0;
  transition: opacity 1s ease;
  color: white;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  pointer-events: none;
}

.footer-text.active {
  opacity: 1;
  pointer-events: auto;
}
